.container {
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
}

.side_bar {
    order: 2;
}

.content {
    order: 1;
}

@media screen and (min-width: 667px) {
    .container {
        margin: 5rem auto 0;
        width: 49rem;
    }

    .side_bar {
        order: 2;
        width: 15rem;
        font-size: 1.3rem;
    }

    .content {
        order: 1;
        width: 34rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 1023px) {
    .container {
        width: 90rem;
    }

    .content {
        width: 68rem;
        padding-right: 2rem;
    }

    .side_bar {
        width: 20rem;
    }
}