
.icon {
    text-indent: -99999px;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
}

.icon-github {
    background: url(/assets/GitHub-Mark-32px.png) no-repeat;
}

.icon-stackoverflow {
    background: url(/assets/so-icon.png) no-repeat;
    background-size: 3.2rem;
}

.icon-linkedin {
    background: url(/assets/LI-In-Bug.png) no-repeat;
    background-size: 3.2rem;
}
