@import "../variables/size";

blockquote {
    border-left: .5rem #d2dcdf solid;
    margin: 0 0 $size-base * 4 0;
    padding: $size-base * 2 0 $size-base * 2 $size-base * 4;

    ul:last-child {
        margin-bottom: 0;
    }
}
