@import "../variables/size";

ul, ol {
    margin-left: $size-base * 5;
    margin-bottom: $size-base * 5;
}

.list--inline {
    margin: 0;

    li {
        display: inline-block;
        margin-right: $size-base * 2;

        &:last-child {
            margin-right: 0;
        }
    }
}
