@import "../variables/size";

table {
    padding-bottom: $size-base * 4;
    width: 100%;
}

thead {
    th {
        background: #ddd;
    }
}

th, td {
    padding: $size-base * 2;
}

tr:nth-child(2n) {
    td {
        background: #eee;
    }
}
