<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>Paul Mcilwaine - {{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <nav>
            <ul>
                {% for navigation in site.data.navigation %}
                    <li><a href="{{ navigation.link }}">{{ navigation.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <div class="container">
            <div class="side_bar">
                <p>Hi my name is Paul Mcilwaine. I am currently working as a Senior Software Engineer at Coolblue.</p>
                <p>I write about things I learn or of interest to me within Software Development.</p>

                <ul class="list--inline">
                    {% for profile_link in site.data.profile_links %}
                       <li>
                           <a class="icon icon-{{ profile_link.icon }}" href="{{ profile_link.url }}" target="_blank" title="{{ profile_link.title }}">
                               {{ profile_link.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                {{ content }}
    
                {% if page.comments %}
                    <div 
                        class="js-discuss" 
                        data-disqus-page-url="{% if page.comment_url %}{{ page.comment_url }}{% else %}{{ page.url | prepend: 'https://pmcilwaine.github.io' }}{% endif %}"
                        data-disqus-page-title="{{ page.title }}" 
                        data-disqus-page-identifier="{% if page.comment_identifier %}{{ page.comment_identifier }}{% else %}{{ page.url }}{% endif %}" 
                        id="disqus_thread"
                    >
                    </div>
                {% endif %}
            </div>
        </div>

        <script src="/assets/main.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            
            ga('create', '{{ site.google.analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>